---
---

@import "{{ site.theme }}";

/////////////////////////////////////////////////
// BANNER
/////////////////////////////////////////////////
#banner {
    background: #22983c;
    border: 1px solid #19722d;
}

#banner .fork {
    background-color: #26ab43;
}
/////////////////////////////////////////////////
// BUTTON
/////////////////////////////////////////////////

#banner .button {
    border: 1px solid #19722d;
    background-color: #26ab43;
}

#banner ul li a.button {
    background-color: #26ab43;
}

#banner .downloads span {
    color: #000;
}

/////////////////////////////////////////////////
// BODY ARTICLE
/////////////////////////////////////////////////

section {
    width: 800px;
}

/////////////////////////////////////////////////
// NAV
/////////////////////////////////////////////////
//nav {
//    margin-left: -650px;
//}

/////////////////////////////////////////////////
// Footer
/////////////////////////////////////////////////
//footer {
//    margin-left: -600px;
//}

